<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectStudentList">
	SELECT USER_NAME
	     , PHONE        
	  FROM USERS
	 WHERE STATUS = 'Y'
	   AND USER_AUTH = 'U'
</entry>

<entry key="selectSignRequest">
	SELECT USER_NO
		 , USER_ID
		 , USER_PWD
		 , USER_NAME
		 , PHONE
		 , BIRTHDAY
		 , EMAIL
		 , ADDRESS
		 , ENROLL_DATE
	  FROM USERS
	 WHERE STATUS = 'W'
</entry>

</properties>