<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 전체카테고리 조회 (공유주소록) -->
	<entry key="selectCategoryList">
	   SELECT
		      CATEGORY_NO
		    , CATEGORY_NAME
		 FROM CONTACTS_CATEGORY
		WHERE STATUS = 'Y'
	</entry>
	
	<!-- 개인주소록 조회: OWNER_NO가 가진 개인주소록 조회 (주소록명 + 인원수) -->
	<entry key="selectPrivateContactsList">
		SELECT 
		       C.CONTACTS_NO
		     , C.CONTACTS_NAME
		     , COUNT(CM.CONTACTS_NO) AS "COUNT"
		  FROM CONTACTS "C"
		  LEFT JOIN CONTACTS_MEMBER "CM" ON (C.CONTACTS_NO = CM.CONTACTS_NO)
		 WHERE C.OWNER_NO = ?
		   AND C.CONTACTS_TYPE = 'P'
		   AND C.STATUS = 'Y'
		 GROUP
		    BY C.CONTACTS_NO, 
		       C.CONTACTS_NAME
		 ORDER
            BY C.CONTACTS_NO
	</entry>
	
	<!-- 공유주소록 조회: CATEGORY_NO에 속한 공유주소록 하위 주소록 조회 (주소록명 + 인원수) -->
	<entry key="selectPublicContactsList">
		SELECT 
		       C.CONTACTS_NO
		     , C.CONTACTS_NAME
		     , COUNT(CM.CONTACTS_NO) AS "COUNT"
		  FROM CONTACTS "C"
		  LEFT JOIN CONTACTS_MEMBER "CM" ON (C.CONTACTS_NO = CM.CONTACTS_NO)
		 WHERE C.CATEGORY_NO = ?
           AND C.CONTACTS_TYPE = 'S'
		   AND C.STATUS = 'Y'
		 GROUP
		    BY C.CONTACTS_NO, 
		       C.CONTACTS_NAME
         ORDER
            BY C.CONTACTS_NO
	</entry>
	
	<!-- 전체사용자 조회 -->
	<entry key="selectAllUsersList">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY U.USER_AUTH, U.USER_NAME
	</entry>
	
	<!-- 주소록구성원 조회: ex) 세미 1조의 구성원만 -->
	<entry key="selectContactsUsersList">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY CM.ROLE DESC, U.USER_NAME
	</entry>
	
	<!-- 카테고리구성원 조회: ex) 세미 1조~5조 전체구성원 (모든 팀장 + 팀원) -->
	<entry key="selectCategoryUsersList">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY CM.ROLE DESC, U.USER_NAME
	</entry>
	
	<!-- ===================== 전체사용자 <정렬>조회 ============================= -->
	<!-- 전체사용자 <정렬> 조회는 모두 동일한 쿼리. ORDER BY 구문만 다름 -->
	
	<!-- 전체사용자 <정렬> 조회: <별> <오름차순> -->
	<entry key="selectAllUsersListOrderByStarAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY CS.STAR ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <별> <내림차순> -->
	<entry key="selectAllUsersListOrderByStarDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY CS.STAR DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <이름> <오름차순> -->
	<entry key="selectAllUsersListOrderByUserNameAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY U.USER_NAME ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <이름> <내림차순> -->
	<entry key="selectAllUsersListOrderByUserNameDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY U.USER_NAME DESC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <아이디> <오름차순> -->
	<entry key="selectAllUsersListOrderByUserIdAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY U.USER_ID ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <아이디> <내림차순> -->
	<entry key="selectAllUsersListOrderByUserIdDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY U.USER_ID DESC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <역할> <오름차순> -->
	<entry key="selectAllUsersListOrderByRoleAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY ROLE ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <역할> <내림차순> -->
	<entry key="selectAllUsersListOrderByRoleDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY ROLE DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <생일> <오름차순> -->
	<entry key="selectAllUsersListOrderByBirthdayAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY EXTRACT(MONTH FROM U.BIRTHDAY) ASC, EXTRACT(DAY FROM U.BIRTHDAY) ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <생일> <내림차순> -->
	<entry key="selectAllUsersListOrderByBirthdayDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY EXTRACT(MONTH FROM U.BIRTHDAY) DESC, EXTRACT(DAY FROM U.BIRTHDAY) DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <연락처> <오름차순> -->
	<entry key="selectAllUsersListOrderByPhoneAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY PHONE ASC
	</entry>
	
	<!-- 전체사용자 <정렬> 조회: <연락처> <내림차순> -->
	<entry key="selectAllUsersListOrderByPhoneDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN U.USER_AUTH = 'A' THEN '선생님'
		            ELSE '학생'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS "U"
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		 ORDER BY PHONE DESC
	</entry>


	
	<!-- ===================== 주소록구성원 <정렬>조회 ============================= -->
	<!-- 주소록구성원 <정렬> 조회는 모두 동일한 쿼리. ORDER BY 구문만 다름 -->
	
	<!-- 주소록구성원 <정렬> 조회: <별> <오름차순> -->
	<entry key="selectContactsUsersListOrderByStarAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY CS.STAR ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <별> <내림차순> -->
	<entry key="selectContactsUsersListOrderByStarDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY CS.STAR DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <이름> <오름차순> -->
	<entry key="selectContactsUsersListOrderByUserNameAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY U.USER_NAME ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <이름> <내림차순> -->
	<entry key="selectContactsUsersListOrderByUserNameDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY U.USER_NAME DESC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <아이디> <오름차순> -->
	<entry key="selectContactsUsersListOrderByUserIdAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY U.USER_ID ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <아이디> <내림차순> -->
	<entry key="selectContactsUsersListOrderByUserIdDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY U.USER_ID DESC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <역할> <오름차순> -->
	<entry key="selectContactsUsersListOrderByRoleAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY ROLE ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <역할> <내림차순> -->
	<entry key="selectContactsUsersListOrderByRoleDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY ROLE DESC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <생일> <오름차순> -->
	<entry key="selectContactsUsersListOrderByBirthdayAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY EXTRACT(MONTH FROM U.BIRTHDAY) ASC, EXTRACT(DAY FROM U.BIRTHDAY) ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <생일> <내림차순> -->
	<entry key="selectContactsUsersListOrderByBirthdayDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY EXTRACT(MONTH FROM U.BIRTHDAY) DESC, EXTRACT(DAY FROM U.BIRTHDAY) DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <연락처> <오름차순> -->
	<entry key="selectContactsUsersListOrderByPhoneAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY PHONE ASC
	</entry>
	
	<!-- 주소록구성원 <정렬> 조회: <연락처> <내림차순> -->
	<entry key="selectContactsUsersListOrderByPhoneDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER "CM" ON (U.USER_NO = CM.USER_NO)
		  LEFT JOIN CONTACTS_STAR "CS" ON (U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?)
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO = ?
		 ORDER BY PHONE DESC
	</entry>
	
	
	<!-- ===================== 카테고리구성원 <정렬>조회 ============================= -->
	<!-- 카테고리구성원 <정렬>조회는 모두 동일한 쿼리. ORDER BY 구문만 다름 -->  
	
	<!-- 카테고리구성원 <정렬>조회: <별> <오름차순> -->
	<entry key="selectCategoryUsersListOrderByStarAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY CS.STAR ASC, U.USER_NAME ASC
	</entry>

	<!-- 카테고리구성원 <정렬>조회: <별> <내림차순> -->
	<entry key="selectCategoryUsersListOrderByStarDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY CS.STAR DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <이름> <오름차순> -->
	<entry key="selectCategoryUsersListOrderByUserNameAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY U.USER_NAME ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <이름> <내림차순> -->
	<entry key="selectCategoryUsersListOrderByUserNameDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY U.USER_NAME DESC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <아이디> <오름차순> -->
	<entry key="selectCategoryUsersListOrderByUserIdAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY U.USER_ID ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <아이디> <내림차순> -->
	<entry key="selectCategoryUsersListOrderByUserIdDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY U.USER_ID DESC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <역할> <오름차순> -->
	<entry key="selectCategoryUsersListOrderByRoleAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY CM.ROLE ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <역할> <내림차순> -->
	<entry key="selectCategoryUsersListOrderByRoleDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY CM.ROLE DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <생일> <오름차순> -->
	<entry key="selectCategoryUsersListOrderByBirthdayAsc">
		SELECT
			   U.USER_NO
			 , U.USER_ID
			 , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY EXTRACT(MONTH FROM U.BIRTHDAY) ASC, EXTRACT(DAY FROM U.BIRTHDAY) ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <생일> <내림차순> -->
	<entry key="selectCategoryUsersListOrderByBirthdayDesc">
		SELECT
			   U.USER_NO
			 , U.USER_ID
			 , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') AS "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY EXTRACT(MONTH FROM U.BIRTHDAY) DESC, EXTRACT(DAY FROM U.BIRTHDAY) DESC, U.USER_NAME ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <연락처> <오름차순> -->
	<entry key="selectCategoryUsersListOrderByPhoneAsc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY PHONE ASC, U.USER_NAME ASC
	</entry>
	
	<!-- 카테고리구성원 <정렬>조회: <연락처> <내림차순> -->
	<entry key="selectCategoryUsersListOrderByPhoneDesc">
		SELECT
		       U.USER_NO
		     , U.USER_ID
		     , U.USER_NAME
		     , CASE WHEN ? = '1' THEN U.PHONE
		     		WHEN U.PHONE_PUBLIC = 'N' THEN '비공개'
		            ELSE U.PHONE
		       END AS "PHONE"
		     , TO_CHAR(U.BIRTHDAY, 'FMMM"월" DD"일"') "BIRTHDAY"
		     , U.PROFILE_FILE_NO
		     , CASE WHEN CM.ROLE = 'L' THEN '팀장'
		            WHEN CM.ROLE = 'F' THEN '팀원'
		            ELSE '-'
		       END AS "ROLE"
		     , CS.STAR
		  FROM USERS U
		  JOIN CONTACTS_MEMBER CM ON U.USER_NO = CM.USER_NO
		  LEFT JOIN CONTACTS_STAR CS ON U.USER_NO = CS.OTHER_USER_NO AND CS.CURRENT_USER_NO = ?
		 WHERE U.STATUS = 'Y'
		   AND CM.CONTACTS_NO IN (SELECT CONTACTS_NO FROM CONTACTS WHERE CATEGORY_NO = ?)
		 ORDER BY PHONE DESC, U.USER_NAME ASC
	</entry>
	
	<!-- ===================== 별 ============================= -->
	
	<!-- <별> 추가 -->
	<entry key="insertStar">
		 INSERT
		    INTO CONTACTS_STAR
		    ( 
		      STAR_NO
		    , CURRENT_USER_NO
		    , OTHER_USER_NO
		    , STAR
		    )
		    VALUES
		    (
		      SEQ_CONTACTS_STARNO.NEXTVAL
		     , ?
		     , ?
		     , 'Y'
		     )
	</entry>
	
	<!-- <별> 삭제 -->
	<entry key="deleteStar">
		DELETE FROM CONTACTS_STAR
	     WHERE CURRENT_USER_NO = ?
	       AND OTHER_USER_NO = ?
	</entry>
	
	<!-- ===================== 주소록 ============================= -->
	<!-- 주소록 목록조회: OWNER_NO가 소유하고 있는 모든주소록 조회 -->
	<entry key="selectContactsList">
		SELECT 
	           CONTACTS_NO
	         , CONTACTS_NAME
		  FROM CONTACTS
		 WHERE OWNER_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<!-- 주소록구성원 추가: "특정주소록"에 "특정유저"를 추가 -->
	<entry key="insertContactsMember">
		INSERT
		  INTO CONTACTS_MEMBER
			 (
			   CONTACTS_NO
			 , USER_NO
			 , ROLE
			 )
			 VALUES
			 (
			   ?
			 , ?
			 , NULL
			 )
	</entry>
	
</properties>
