<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectCurriculum">
	SELECT
	       CB_NAME
	     , CB_STATE
	  FROM CURRICULUM_BTN
</entry>

<entry key="updateCbState">
	UPDATE CURRICULUM_BTN
	   SET CB_STATE = 'Y'
	 WHERE CB_NAME = ?
</entry>

<entry key="getCompletedCount">
	SELECT COUNT(CB_STATE)"COUNT"
	  FROM CURRICULUM_BTN
	 WHERE CB_STATE = 'Y'
</entry>

<entry key="getTotalCount">
	SELECT COUNT(CB_STATE)"COUNT"
	  FROM CURRICULUM_BTN
</entry>

<entry key="selectInboxMailList">
		SELECT *
		  FROM (
			     SELECT ROWNUM RNUM, A.*
			     FROM (
						SELECT 
							   M.MAIL_NO
							 , MO.MAIL_STAR
							 , NVL2(MR.READ_TIME, 'Y', 'N') AS "IS_READ"
							 , U.USER_NAME
							 , U.USER_ID
							 , A.FILE_PATH || A.CHANGE_NAME AS "PROFILE_PATH"
							 , M.MAIL_TITLE
							 , DECODE(MR.RECEIVER_TYPE, 'R', '수신', 'C', '참조', 'S', '비밀') AS "RECEIVER_TYPE"
							 , TO_CHAR(M.SEND_DATE, 'MM-DD') AS "SEND_DATE"
						  FROM MAIL M
						  LEFT JOIN MAIL_RECEIVER MR ON M.MAIL_NO = MR.MAIL_NO
						  JOIN USERS U ON M.SENDER = U.USER_NO
						  LEFT JOIN ATTACHMENT A ON U.PROFILE_FILE_NO = A.FILE_NO
						  JOIN MAILBOX MB ON MB.OWNER_NO = MR.RECEIVER_NO
						  JOIN MAIL_OWNER MO ON (MO.MAIL_NO = M.MAIL_NO AND MO.OWNER_NO = MB.OWNER_NO)
						 WHERE 
							   MB.MAILBOX_NAME = '받은메일함' 
							   AND MB.OWNER_NO = ?
							   AND M.IS_SENT = 'S'
						 ORDER BY 
							   M.SEND_DATE DESC
			          ) A
		  		)
		  WHERE RNUM BETWEEN 1 AND 20
</entry>

<entry key="selectAllList">
		SELECT *
		  FROM (
			     SELECT ROWNUM RNUM, A.*
			     FROM (
			            SELECT
			                   P.POST_NO
			                 , B.BOARD_NAME
			                 , U.USER_NAME
			                 , U.USER_ID
			                 , A.FILE_PATH || A.CHANGE_NAME AS "PROFILE_PATH"
			                 , P.POST_TITLE
			                 , TO_CHAR(P.CREATE_DATE, 'YYYY-MM-DD DY HH24:MI') AS "CREATE_DATE"
			                 , NVL(CC.COMMENT_COUNT, 0) AS "COMMENT_COUNT"
			                 , NVL(FC.FILE_COUNT, 0) AS "FILE_COUNT"
			              FROM CLASS_POST P
			              JOIN CLASS_BOARD B ON P.BOARD_NO = B.BOARD_NO
			              JOIN USERS U ON P.USER_NO = U.USER_NO
			              LEFT JOIN (SELECT REF_NO, COUNT(*) AS COMMENT_COUNT
			  					       FROM COMMENTS
			  					      GROUP BY REF_NO) CC ON CC.REF_NO = P.POST_NO
			              LEFT JOIN (SELECT REF_BNO, COUNT(DISTINCT FILE_NO) AS FILE_COUNT
			  					       FROM ATTACHMENT
			  					      GROUP BY REF_BNO) FC ON FC.REF_BNO = P.POST_NO
			              LEFT JOIN ATTACHMENT A ON U.PROFILE_FILE_NO = A.FILE_NO
			             WHERE P.STATUS = 'Y'
			             GROUP BY 
			  			       P.POST_NO
			  			     , B.BOARD_NAME
			  			     , U.USER_NAME
			  			     , U.USER_ID
			  			     , A.FILE_PATH || A.CHANGE_NAME
			  			     , P.POST_TITLE
			  			     , P.CREATE_DATE
			  			     , NVL(CC.COMMENT_COUNT, 0)
			  			     , NVL(FC.FILE_COUNT, 0)
			           ORDER BY CREATE_DATE DESC
			          ) A
		  		)
		  WHERE RNUM BETWEEN 1 AND 20
	</entry>

</properties>