<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectUser">
	SELECT 
	       USER_ID
	     , USER_NAME
	     , PHONE
	     , TO_CHAR(BIRTHDAY,'YYYY-MM-DD') AS "BIRTHDAY"
	     , EMAIL
	     , ADDRESS
	     , GITHUB_URL
	     , NOTION_URL
	  FROM USERS
	 WHERE USER_ID = ?
</entry>

<entry key="selectAtd">
	SELECT 
	     A.USER_NO,
	     TO_CHAR(A.DAY, 'YYYY-MM-DD') AS "DAY",
	     A.STATE_CODE,
	     B.STATE_NAME,
	     A.USE_DAY_OFF
	  FROM ATTENDANCE A
	  JOIN ATD_STATE B ON (A.STATE_CODE = B.STATE_CODE)
	 WHERE USER_NO = ?
</entry>

</properties>