<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectUser">
	SELECT 
	       USER_ID
	     , USER_NAME
	     , PHONE
	     , BIRTHDAY
	     , EMAIL
	     , ADDRESS
	     , GITHUB_URL
	     , NOTION_URL
	  FROM USERS
	 WHERE USER_ID = 'user01'
</entry>

</properties>