/* 
    모든 페이지에 공통으로 쓰이는 css입니다.
    menubar는 menubar.css로 별도로 관리합니다.
*/

/* 자주 사용할 색상 변수
   사용법 예시 => color: var(--lightGrey) */
:root {
    /* --- 메인 테마컬러 --- */
    --darkSkyBlue: #45d3ff;
    --lightSkyBlue: #c2f0ff;

    --darkPurple: #a98aff;
    --lightPurple: #d0bfff;

    /* --- 각 페이지 테마컬러 ---*/
    /* 일정 */
    --darkGreen: #6CF100;
    --lightGreen: #C7F2A4;

    /* 주소록 */
    --darkOrange: #FF9900;
    --lightOrange: #FFD177;

    /* 수업 */
    --darkRed: #EF5F5F;
    --lightRed: #FA9595;

    /* 과제 */
    --darkPink: #FD83FF;
    --lightPink: #FEC6FF;

    /* 도구 */
    --darkBlue: #2153f8;
    --lightBlue: #6880FD;

    /* --- 기타 컬러 --- */
    --darkGrey: #333;
    --lightGrey: #9a9a9a;

}

/* 글자체 "민산스" from "눈누" => https://noonnu.cc/font_page/828 */
/* 저희 피그마에서 썼던 글자체랑 비슷한걸로 골랐어요! */
@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    position: relative;
    color: var(--darkGrey);
    font-family: "MinSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    min-width: 1000px; /* 화면을 줄였을때, 메인메뉴 헤더 아이콘간 겹침을 방지함.*/
    overflow: hidden;

}

img{
    /* 
    이미지는 기본으로 inline이고, baseline이라는 개념을 가지고 있음. 
    그래서 이미지 밑에 공간이 약간 들어감.
    이걸 없애기 위해서 display를 block으로 지정해줌
    */
    display: block;
}

a{
    text-decoration-line: none;
    color: var(--darkGrey);
}

a:visited{
    /* 방문한 링크. 보라색(?)으로 바뀌는것 방지함 */
    color: var(--darkGrey);
}