/* ==================== 주소록 ==================== */

:root{
    --sidebar-width: 300px;
    --contact-content-width: calc(100vw - var(--sidebar-width));

    --contact-searchbar-height: calc(15px + 36px + 10px);
    --contact-list-header-height: 40px;
    --content-list-content-height: calc(100vh - var(--menubar-height) - var(--contact-searchbar-height) - var(--contact-list-header-height));
    
    --contactsHover: #ffd27773;
}

/* ------- 주소록 공통속성 ------- */
/* 아이콘 - 평상시: 회색 */
aside .icon,
main .icon{
    color: var(--lightGrey);
}

/* 아이콘 - hover시: 회색 */
aside .icon:hover,
main .icon:hover{
    color: var(--darkGrey);
}

/* 체크박스 - 사이즈 좀 더 크게 */
main input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/* 체크박스 레이블 */
main label{
    padding-left: 1px;
    margin-right: 10px;
    cursor: pointer;
}

/* ==================== 사이드바 ==================== */
aside{
    position: absolute;
    width: var(--sidebar-width);
    height: calc(100vh - var(--menubar-height)); /* 세로 화면크기 - 메뉴바 높이*/
    border-right: 1px solid var(--lightGrey);
    box-shadow: 0 3px 5px var(--lightGrey);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

/* ------- 사이드바 공통속성 ------- */
/* 수정(edit) 아이콘 */
aside .icon.edit{
    font-size: 18px;
    line-height: 24px;
}

/* 인원수 표기 */
aside .userCount{
    margin-left: 5px;
    font-size: 14px;
    color: var(--lightGrey);
}

/* ------- 대분류: ex) 공유주소록, 개인주소록 ------- */
aside .big-cate{
    padding: 5px 0;
}

/* 대분류 - 사이 경계선 */
aside .big-cate{
    border-bottom: 1px solid var(--lightGrey);
}

/* 대분류 - 타이틀: ex) 공유주소록 */
aside .big-cate__title{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 7px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 대분류 - 추가(+)버튼(을 감싸고있는 a태그) */
aside .big-cate__title div.addContactsBtn{
    height: 24px;
    cursor: pointer;
}

/* ------- 중분류: ex) 세미프로젝트 ------- */
/* 중분류 - 타이틀 */
aside .mid-cate__title{
    height: 100%;
    width: 100%;
    margin: 3px 0;
    padding: 10px 10px 10px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

/* 중분류, 소분류 - 각 줄 클릭시 효과 */
aside .mid-cate__title.active,  /* 중분류 - 클릭시*/
aside .sm-cate.active{          /* 소분류 - 클릭시*/
    background-color: var(--lightOrange);
    font-weight: bold;
}

/* 중분류, 소분류 - 각 줄 후버시 효과 */
aside .mid-cate__title:hover,   /* 중분류 - 후버시*/
aside .sm-cate:hover{           /* 소분류 - 후버시*/
    background-color: var(--contactsHover);
}

aside .mid-cate__title>div{
    display: flex;
    align-items: center;
}

/* 중분류 - 사람 아이콘 */
aside .mid-cate__title .icon.people{
    margin-right: 10px;
}

/* 중분류 - 타이틀 글자 */
aside .mid-cate__title .title{
    line-height: 24px;
}

/* 중분류 - 클릭된 중분류에 속한 소분류 숨기기 (JS로 .hidden 추가되거나 삭제됨) */
aside .mid-cate__contents.hidden{
    display: none;
}

/* ------- 소분류: ex) 2조 ------- */
aside .sm-cate{
    margin: 3px 0;
    padding: 5px 10px 5px 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

aside .sm-cate>div{
    display: flex;
    align-items: center;
}

/* 소분류 - 화살표 아이콘 */
aside .sm-cate>div .material-icons{
    font-size: 15px;
    padding-bottom: 5px;
    margin-right: 5px;
}

/* ==================== 메인 컨텐츠 ==================== */
main{
    position: absolute;
    left: 300px;
    width: var(--contact-content-width); 
    height: calc(100vh - var(--menubar-height)); /* 세로 화면크기 - 메뉴바 높이*/
    min-width: calc(1500px - var(--sidebar-width)); /* 화면을 더 줄일 수 없도록함. 화면 줄었을때 요소간 겹침 방지*/
}

/* ------- 메인 컨텐츠 - 공동속성 ------- */
/* input, button, label 글자체 */
main input,
main button,
main label{
    font-family: "MinSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

/* 각 섹션 구분선 */
main section{
    width: 100%;
}

/* ------- 검색창 섹션 (section__search-bar) ------- */
main .section__search-bar{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px 0 10px;
    border-bottom: 1px solid var(--lightGrey);
}

/* 버튼 - 그룹 */
main .section__search-bar .btn-group{
    position:absolute;
    left: 10px;
    top: 15px;
    display: flex;
    height: 36px;
}

/* 버튼  */
main .section__search-bar .btn-group button{
    border: 1px solid var(--lightGrey);
    border-radius: 3px;
    background-color: #fff;
    padding: 8px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
}

/* 버튼 - hover시 */
main .section__search-bar .btn-group button:hover{
    background-color: var(--lightOrange);
    font-weight: bold;
}

/* 버튼 - 이메일 버튼 */
main .section__search-bar .btn-group button.email{
    display: flex;
    align-items: center;
}

/* 버튼 - 이메일 버튼 안 아이콘 */
main .section__search-bar .btn-group button.email span.icon{
    font-size: 24px;
    margin-right: 5px;
}

/* 검색창 - 바로 바깥 div*/
main .section__search-bar .search-bar{
    position: relative;
    display: flex;
    align-items: center;
}

/* 검색옵션 */
main .section__search-bar .search-bar .search-option{
    height: 36px;
    font-family: "MinSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid var(--lightGrey);
    border-radius: 3px;
}

/* 검색창 */
main .section__search-bar .search-bar input{
    height: 36px;
    background-color: #d1d1d14d;
    border: 1px solid var(--lightGrey);
    border-radius: 3px;
    width: 230px;
    padding-left: 10px;
}

/* 검색창 - focus시 테두리 강조 안되게 */
main .section__search-bar .search-bar select:focus,
main .section__search-bar .search-bar input:focus{
    outline: none;
}

/* 검색창 - 돋보기 아이콘 */
main .section__search-bar .search-bar span.icon{
    height: 24px;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    /* cursor: pointer; */
}

/* 검색창 - 돋보기 아이콘 - 후버효과없애기! 색상변경없음 */
main .section__search-bar .search-bar span.icon:hover{
    color: var(--lightGrey);
}

/* 팀장으로 지정 - 버튼을 감싸고 있는 div */
main .section__search-bar .set-leader{
    position: absolute;
    right: 15px;
    top:15px;
    height: 36px;
}

/* 팀장으로 지정 - 버튼 */
main .section__search-bar .set-leader .set-leader-btn{
    height: 100%;
    border: 1px solid var(--lightGrey);
    border-radius: 3px;
    background-color: #fff;
    padding: 8px;
    cursor: pointer;
}

/* 팀장으로 지정 - 버튼 - 숨기기*/
main .section__search-bar .set-leader .set-leader-btn.hidden{
    display: none;
}

/* 팀장으로 지정 - 버튼 - hover */
main .section__search-bar .set-leader .set-leader-btn:hover{
    background-color: var(--lightOrange);
    font-weight: bold;
}

/* ------- 목록 헤더 섹션 (section__list-header), 목록 섹션 (section__list) - 공통속성 ------- */
main section li{
    width: 100%;
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
}

main section li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 가로 길이 비율 */
main section li div.checkbox{width: 5%;}
main section li div.star{width: 5%;}
main section li div.contactsInfo{width: 15%;} /* 100% - 10% = 90%   => 90% / 6 = 15%*/
main section li div.userName{width: 15%;}
main section li div.userId{width: 15%;}
main section li div.role{width: 15%;}
main section li div.birthday{width: 15%;}
main section li div.phone{width: 15%;}

main section li div span{
    cursor: pointer;
}

/* 별 */
main section li div span.icon.star{
    line-height: 24px;
}


/* 별 - 색상 채워진 별 */
main section li div span.icon.star.fill{
    color: var(--lightOrange);
}

/* ------- 목록 헤더 섹션 (section__list-header) ------- */
main .section__list-header{
    background-color: rgba(243, 243, 243, 0.7);
}

main .section__list-header li div{
    height: 40px;
}

/* 목록 헤더 섹션 (section__list-header) - 별표 div */
main .section__list-header li div.star{
    padding-left: 24px;
}

main .section__list-header li div span{
    line-height: 30px;
}

/* 목록 헤더 섹션 (section__list-header) - 별표 */
main .section__list-header li div span.star{
    line-height: 30px !important;
    padding: 5px 0 5px 10px;
}

/* 목록 헤더 섹션 (section__list-header) - 글자 */
main .section__list-header li div span.text{
    padding: 5px 0 5px 10px;
}

/* 목록 헤더 섹션 (section__list-header) - dropdown 아이콘 */
main .section__list-header li div span.icon.drop_down{
    padding: 5px 10px 5px 0;
}

/* ------- 목록 내용 섹션 (section__list-content) ------- */
main .section__list-content{
    height: var(--content-list-content-height);
    max-height: var(--content-list-content-height);
    overflow: auto;
}

main .section__list-content ul{
    position: relative;
}

/* 목록 내용 섹션 (section__list-content) - 각각의 줄 */
main .section__list-content li{
    padding: 5px 0;
    cursor: pointer;
}

/* 목록 내용 섹션 (section__list-content) - 각각의 줄 후버시 배경색 */
main .section__list-content li:hover{
    background-color: var(--contactsHover);
}

/* 목록 내용 섹션 (section__list-content) - 이름 */
main .section__list-content li.userInfo div.userName{
    justify-content: flex-start;
    padding-left: 50px;
}

/* 목록 내용 섹션 (section__list-content) - 프로필 이미지 */
main .section__list-content li.userInfo div.userName img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

/* 목록 내용 섹션 (section__list-content) - 프로필 이미지 후버시*/
main .section__list-content li.userInfo div.userName img:hover{
    opacity: .7;
}

/* 목록 내용 섹션 (section__list-content) - 해당 주소록에 사용자가 아무도 없는경우 */
main .section__list-content li.noUsers{
    height: var(--content-list-content-height);
    position: absolute;
    width: 300px;
    height: 30px;
    top: 100px;
    left: 40%;
    border-bottom: none;
    cursor: default;
    font-weight: bold;
    display: block;
}

main .section__list-content li.noUsers.hidden{
    display: none;
}

/* 목록 내용 섹션 (section__list-content) - 해당 주소록에 사용자가 아무도 없는경우 */
main .section__list-content li.noUsers:hover{
    background-color: #fff;
}

/* 목록 내용 섹션 (section__list-content) - 프로필 사진 */
main .section__list-content li div span.profile-icon{
    font-size: 40px;
    margin-right: 10px;
}

/* 목록 내용 섹션 (section__list-content) - 별표 */
main .section__list-content li div.star span.star{
    padding: 8px;
}

/* ==================== Modal ==================== */

/* ---------- modal - 공통 ---------- */

/* modal - 전체화면에 투명한 회색배경 깔아주기 */
main .modal-bg{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: calc(var(--menubar-height) + 10px); /* modal창 세로 위치*/
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* modal - ".show" 클래스 추가되면 modal창 보이게 */
main .modal-bg.show{
    display: block;
}

/* modal - 실제 modal창 */
main .modal-bg .modal{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--lightGrey);
    border-radius: 10px;
    width: 50%;
    position: relative;
    max-height: calc(100vh - var(--menubar-height) - 20px); /* model창 세로 최대크기 */;
    overflow: auto;
    text-align: center;
}

/* modal - 닫기 아이콘 */
main .modal-bg .modal .closeBtn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* modal - 제목 h3 */
main .modal-bg .modal h3{
    font-size: 1.3rem;
    font-weight: bold;
}

/* modal - 제목 h4 */
main .modal-bg .modal h4{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 6px 0;
}

/* modal - p */
main .modal-bg .modal p{
    margin: 8px 0;
}

/* modal - hr */
main .modal-bg .modal hr{
    margin: 20px 0;
}

/* modal - text input */
main .modal-bg .modal input[type="text"]{
    width: 250px;
}

/* modal - submit 버튼 */
main .modal-bg .modal input[type="submit"]{
    display: block;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding: 10px 0;
    cursor: pointer;
    border: 1px solid var(--lightGrey);
    border-radius: 10px;
}

/* modal - submit 버튼 - hover 효과 */
main .modal-bg .modal input[type="submit"]:hover{
    background-color: var(--lightOrange);
    font-weight: bold;
}

/* modal - select */
main .modal-bg .modal select{
    width: 250px;
    height: 27px;
    font-family: "MinSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    cursor: pointer;
}

/* modal - select - option */
main .modal-bg .modal select option{
    font-family: "MinSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

main .modal-bg .modal div.hidden{
    display: none;
}

/* modal - 주소록추가 내에 주소록 리스트를 담는 div - ex) 자바 1조, 자바 2조... */
main .modal-bg .modal .modal-addMember__contactsList{
    text-align: left;
    padding-left: 45%;
}


/* ---------- modal - 프로필사진 ---------- */
/* 배경 */
main #imageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 실제 프로필사진 */
main #imageModal #modalImg {
    max-width: 50%;
    max-height: 50%;
}

/* 닫기 버튼 */
main #imageModal #closeModal {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}