/* ==================== 사이드바 ==================== */
aside{
    position: absolute;
    width: 300px;
    height: calc(100vh - 100px); /* 세로 화면크기 - 메뉴바 높이*/
    border-right: 1px solid var(--lightGrey);
    box-shadow: 0 3px 5px var(--lightGrey);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

/* ------- 사이드바 공통속성 ------- */
/* 아이콘 - 평상시: 회색 */
aside .icon{
    color: var(--lightGrey);
}

/* 아이콘 - hover시: 회색 */
aside .icon:hover{
    color: var(--darkGrey);
}

/* 수정(edit) 아이콘 */
aside .icon.edit{
    font-size: 18px;
    line-height: 24px;
}

/* 인원수 표기 */
aside .userCount{
    margin-left: 5px;
    font-size: 12px;
    color: var(--lightGrey);
}

/* ------- 대분류: ex) 공유주소록, 개인주소록 ------- */
aside .big-cate{
    padding: 5px 0;
}

/* 대분류 - 사이 경계선 */
aside .big-cate{
    border-bottom: 1px solid var(--lightGrey);
}

/* 대분류 - 타이틀: ex) 공유주소록 */
aside .big-cate__title{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 7px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 대분류 - 추가(+)버튼(을 감싸고있는 a태그) */
aside .big-cate__title a{
    height: 24px;
}

/* ------- 중분류: ex) 세미프로젝트 ------- */
/* 중분류 - 타이틀 */
aside .mid-cate__title{
    height: 100%;
    width: 100%;
    margin: 3px 0;
    padding: 10px 10px 10px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/* 중분류, 소분류 - 각 줄 후버시,클릭시 효과 */
aside .mid-cate__title.active,  /* 중분류 - 클릭시*/
aside .mid-cate__title:hover,   /* 중분류 - 후버시*/
aside .sm-cate.active,          /* 소분류 - 클릭시*/
aside .sm-cate:hover{           /* 소분류 - 후버시*/
    background-color: var(--lightOrange);
    font-weight: bold;
}

aside .mid-cate__title>div{
    display: flex;
    align-items: flex-end;
}

/* 중분류 - 사람 아이콘 */
aside .mid-cate__title .icon.people{
    margin-right: 10px;
}

/* 중분류 - 타이틀 글자 */
aside .mid-cate__title .title{
    line-height: 24px;
}

/* 중분류 - 클릭된 중분류에 속한 소분류 숨기기 (JS로 .hidden 추가되거나 삭제됨) */
aside .mid-cate__contents.hidden{
    display: none;
    /* visibility: hidden; */
}

/* ------- 소분류: ex) 2조 ------- */
aside .sm-cate{
    margin: 3px 0;
    padding: 5px 10px 5px 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

aside .sm-cate>div{
    display: flex;
    align-items: flex-end;
}

/* 소분류 - 화살표 아이콘 */
aside .sm-cate>div .material-icons{
    font-size: 15px;
    padding-bottom: 5px;
    margin-right: 5px;
}

/* ==================== 메인 컨텐츠 ==================== */
main{
    position: absolute;
    left: 300px;
    width: calc(100vw - 300px); /* 가로 화면크기 - 사이드바 크기*/
    height: calc(100vh - 100px); /* 세로 화면크기 - 메뉴바 높이*/
}

/* 각 섹션 구분선 */
main section{
    width: 100%;
    border-bottom: 1px solid var(--lightGrey);
}

/* ------- first-section: 버튼, 검색창 ------- */
main section.first-section{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

main section.first-section>*{

}

main section.first-section .btn-group{
    position:absolute;
    left: 10px;
    display: flex;
    top: 0;
    bottom: 0;
    height: 36px;
    margin: auto;
}

/* 버튼 */
main section.first-section .btn-group button{
    border: 1px solid var(--lightGrey);
    border-radius: 3px;
    background-color: #fff;
    padding: 8px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}

/* 버튼 - 후버시 */
main section.first-section .btn-group button:hover{
    background-color: var(--lightOrange);
    font-weight: bold;
}

/* 버튼 - 이메일 버튼 */
main section.first-section .btn-group button:last-child{
    display: flex;
    align-items: center;
}

/* 버튼 - 이메일 버튼 안 아이콘 */
main section.first-section .btn-group button:last-child span.icon{
    font-size: 20px;
    color: var(--lightGrey);
    margin-right: 5px;
}

/* 버튼 - 이메일 버튼 안 아이콘 - 후버시 */
main section.first-section .btn-group button:last-child span.icon:hover{
    color: var(--darkGrey);
}


main section.first-section .search-bar{

}

main section.first-section .search-option{
    
}







/* 
main section button.email-btn{

} */

/* 버튼 - 이메일 버튼 안 아이콘 */
/* main section button.email-btn span.icon{
    font-size: 16px;
} */

