/* #myPageBtn은 헤더에 마이페이지로 갈 수있는게 생길때까지 남겨주세요! */
#myPageBtn{ 
    color: red;
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    border: 1px solid red;
    padding: 10px;
}

#myPageBtn{background-color: rgb(236, 236, 236)}


/* 아래는 지우셔도 됩니다! */
h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}