.container{
    display: flex;
}

#homework{
    width: calc(100% - 300px);
    height: 100vh;
}

#header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #9a9a9a;
}

#list-header{
    display: flex;
    height: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 41px;
    letter-spacing: 2px;
}

#list{
    display: flex;
    height: 39px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 37px;
}

#homework #content{
    width: 100%;
    height: calc(100% - 50px);
}

.container #homework #header ul #title{
    width: 22%;
    height: 100%;
}
.container #homework #header ul #endDate{
    width: 15%;
}
.container #homework #header ul #status{
    width: 25%;
}
.container #homework #header ul #reply{
    width: 5%;
}
.container #homework #header ul #writer{
    width: 18%;
}
.container #homework #header ul #createDate{
    width: 15%;
}
.container #homework #content ul #title{
    width: 22%;
    height: 100%;
}
.container #homework #content ul #endDate{
    width: 15%;
}
.container #homework #content ul #status{
    width: 25%;
}
.container #homework #content ul #reply{
    width: 5%;
}
.container #homework #content ul #writer{
    width: 18%;
}
.container #homework #content ul #createDate{
    width: 15%;
}

#homework #content a ul:hover{
    background-color: #fec3ff;
    font-weight: bold;
}