/* #homeBtn은 로그인 페이지 구현 완료될때까지 남겨주세요! */
#homeBtn{ 
    color: red;
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    border: 1px solid red;
    padding: 10px;
}

#homeBtn:hover{background-color: rgb(236, 236, 236)}

*:focus {outline: none;}