/* ================================ 메일 ================================ */

:root {
    --sidebar-width: 300px;
    --mail-content-width: calc(100vw - var(--sidebar-width));

    --mail-firstHeader-height: calc(15px + 36px + 10px); /* 검색창 부분*/
    --mail-secondHeader-height: 40px; /* 리스트 항목이름 부분*/
    --mail-postList-height: calc(100vh - var(--menubar-height) - var(--mail-firstHeader-height) - var(--mail-secondHeader-height) - var(--mail-paging-height));
    --mail-paging-height: 40px; /* 하단 페이징부분 */


    --mail-active-color: var(--lightPurple);
    --mail-hover-color: rgba(206, 188, 255, 0.4);
    --mail-header-n-paging-color: rgba(243, 243, 243, 0.7);
}

/* ================================ 공통속성 ================================ */

/* 모든 아이콘 */
.icon {
    color: var(--lightGrey);
    cursor: pointer;
}

/* 모든 아이콘 - 후버시*/
.icon:hover {
  color: var(--darkGrey);
}

/* 수정(edit) 아이콘 */
.icon.edit-icon {
  font-size: 18px;
  line-height: 24px;
}

.icon.yellow-star {
  color: var(--lightOrange);
}

/* input, button, label 글자체 */
input,
button,
label,
select {
    font-family: "MinSans-Regular", sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
}

/* 체크박스 - 사이즈 좀 더 크게 */
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/* ================================ 사이드바 ================================ */
aside {
  position: absolute;
  width: var(--sidebar-width);
  height: calc(100vh - var(--menubar-height)); /* 세로 화면크기 - 메뉴바 높이*/
  border-right: 1px solid var(--lightGrey);
  box-shadow: 0 3px 5px var(--lightGrey);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

/* 카테고리 */
aside section {
  border-bottom: 1px solid var(--lightGrey);
}

/* 카테고리 - 마지막요소 (내 메일함)*/
aside section:last-child {
  border-bottom: none;
}

/* ----------------------------- 사이드바 버튼그룹 ----------------------------- */
aside section.aside-btn-group {
  padding: 20px 20px 15px;
}

/* --------------- 메일쓰기, 내게쓰기 버튼 --------------- */

/* 메일쓰기, 내게쓰기 버튼 - 밖에서 감싸고 있는 div */
aside section.aside-btn-group .write-btn-group {
    height: 45px;
    border: 1px solid var(--darkPurple);
    display: flex;
    border-radius: 10px;
    background-color: var(--lightPurple);
    overflow: hidden;
}

/* 메일쓰기, 내게쓰기 버튼 */
aside section.aside-btn-group .write-btn-group .btn {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

/* 메일쓰기, 내게쓰기 버튼 - 후버시 */
aside section.aside-btn-group .write-btn-group .btn:hover {
  background-color: #b79efc;
}

/* 메일쓰기, 내게쓰기 버튼 - 가운데 경계선 */
aside section.aside-btn-group .write-btn-group .btn:first-child {
  border-right: 1px solid var(--darkPurple);
}

/* --------------- 안읽음, 중요 --------------- */
/* 안읽음, 중요 - 전체 div */
aside section.aside-btn-group .remind-btn-group {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

/* 안읽음, 중요 - 각각의 div */
aside section.aside-btn-group .remind-btn-group .remind-btn {
  width: 80px;
  text-align: center;
  cursor: pointer;
}

/* 안읽음, 중요 - 각각의 div - 후버시*/
aside section.aside-btn-group .remind-btn-group .remind-btn:hover {
  font-weight: bold;
}

/* 안읽음, 중요 - 아이콘 */
aside section.aside-btn-group .remind-btn-group .remind-btn .icon {
  font-size: 30px;
}

/* 안읽음, 중요 - 각각의 div - active시 */
aside section.aside-btn-group .remind-btn-group .remind-btn.active {
  color: var(--darkPurple);
  font-weight: bold;
}

/* 안읽음, 중요 - 각각의 div - active시  + hover시*/
aside section.aside-btn-group .remind-btn-group .remind-btn.active:hover {
  color: var(--lightPurple);
}

/* 안읽음 - 아이콘 - active시  */
aside section.aside-btn-group .remind-btn-group .remind-btn.unread.active .icon {
  color: #9570fc;
}

/* 중요 - 아이콘 - 후버시*/
aside section.aside-btn-group .remind-btn-group .remind-btn .icon.yellow-star:hover {
  color: rgb(255, 174, 0);
}

/* 안읽음, 중요 - 메일수 */
aside section.aside-btn-group .remind-btn-group .remind-btn p .count{
  margin-left: 3px;
  font-size: 14px;
}

/* ----------------------------- 카테고리 - ex) 기본 메일함, 내 메일함 ----------------------------- */

/* "카테고리" 글자를 감싸고 있는 div */
aside section .category-div {
  display: flex;
  justify-content: space-between;
  padding: 15px 7px 5px 10px;
}

/* "카테고리" 글자 - ex) 기본 메일함, 내 메일함 */
aside section .category-div .category-title {
  font-size: 1.3rem;
  font-weight: bold;
}

/* "내 메일함" - 옆 추가(+) 아이콘 */
aside section .category-div .add-icon {
  height: 24px;
  cursor: pointer;
}

/* ----------------------------- 메일함 목록 ----------------------------- */
/* 각각의 줄 */
aside section ul li {
  cursor: pointer;
  padding: 10px 10px 10px 15px;
  margin: 3px 0;
}

/* 각각의 줄 - 후버시 */
aside section ul li:hover {
  background-color: var(--mail-hover-color);
  font-weight: bold;
}

/* 각각의 줄 - 선택시 */
aside section ul li.active {
  background-color: var(--mail-active-color);
  font-weight: bold;
}

/* 각각의 줄 - 선택시 - 하위 아이콘 */
aside section ul li.active .mailbox-div .icon {
  color: var(--darkGrey);
}

/* 각각의 줄 - 선택시 - 하위 메일숫자 */
aside section ul li.active .mailbox-div .mailCount {
  color: var(--darkGrey);
}

/* 각각의 줄 - 내부 div*/
aside section ul li .mailbox-div {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

/* 폴더 아이콘 */
aside section ul li .mailbox-div .mailboxNo-icon {
  margin-right: 10px;
}

/* 수정 아이콘 */
aside section ul li .mailbox-div .edit-icon {
  position: absolute;
  right: 0;
}

/* 메일수 */
aside section ul li .mailbox-div .mailCount {
  margin-left: 5px;
  font-size: 14px;
  color: var(--lightGrey);
}

/* 휴지통 비우기 */
aside section ul li .mailbox-div .emptyBtn {
  position: absolute;
  right: 0;
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 휴지통 비우기 */
aside section ul li .mailbox-div .emptyBtn:hover {
  background-color: var(--mail-active-color);
}

/* ================================ 메인 ================================ */
main {
  position: absolute;
  left: var(--sidebar-width);
  width: var(--mail-content-width);
  height: calc(100vh - var(--menubar-height)); /* 세로 화면크기 - 메뉴바 높이*/
  min-width: calc(
    1500px - var(--sidebar-width)
  ); /* 화면을 더 줄일 수 없도록함. 화면 줄었을때 요소간 겹침 방지*/
  font-size: 15px;
}

/* ----------------------------- 첫번째 헤더 ----------------------------- */
main .first-header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 0 10px;
  border-bottom: 1px solid var(--lightGrey);
}

/* ------------- 이동, 삭제 버튼 ------------- */

/* 이동, 삭제 버튼 - 버튼을 감싸고 있는 div */
main .first-header .first-header-btns {
  position: absolute;
  left: 10px;
  top: 15px;
  display: flex;
  height: 36px;
}

/* 이동, 삭제 버튼  */
main .first-header .first-header-btns .btn {
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  background-color: #fff;
  padding: 8px;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  margin-right: 10px;
}

/* 이동, 삭제 버튼 - hover시 */
main .first-header .first-header-btns .btn:hover {
  background-color: var(--mail-active-color);
  font-weight: bold;
}

/* ------------- 검색창 ------------- */

/* 검색창을 감싸고 있는 div*/
main .first-header .search-bar-div {
  position: relative;
  display: flex;
  align-items: center;
}

/* 검색옵션 */
main .first-header .search-bar-div .search-option {
  height: 36px;
  font-family: "MinSans-Regular", sans-serif;
  line-height: 1.4;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
}

/* 검색창 */
main .first-header .search-bar-div .search-bar {
  height: 36px;
  background-color: #d1d1d14d;
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  width: 230px;
  padding-left: 10px;
}

/* 검색옵션, 검색창 - focus시 테두리 강조 안되게 */
main .first-header .search-bar-div .search-option:focus,
main .first-header .search-bar-div .search-bar:focus {
  outline: none;
}

/* 검색창 - 돋보기 아이콘 */
main .first-header .search-bar-div .search-icon {
  height: 24px;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 검색창 - 돋보기 아이콘 - 후버효과없애기! 색상변경없음 */
main .first-header .search-bar-div .search-icon:hover {
  color: var(--lightGrey);
}

/* ------------------- 공통속성 - 두번째 헤더, 메일 목록 ------------------- */
/* 가로길이 비율 통일 */

/* *********** 받은메일함 (98%) *********** */
main .mail-column.checkbox {   width: 3%; }
main .mail-column.star {       width: 3%; }
main .mail-column.read {       width: 3%; }
main .mail-column.attachment { width: 3%; }
main .mail-column.sender {     width: 13%; }
main .mail-column.mailTitle {  width: 53%; }
main .mail-column.type {       width: 5%; }
main .mail-column.sentDate {   width: 15%; }

/* *********** 전체메일함 (100%) ***********
main .mail-column.checkbox {   width: 3%; }
main .mail-column.star {       width: 3%; }
main .mail-column.attachment { width: 3%; }
main .mail-column.sender {     width: 13%; }
main .mail-column.mailTitle {  width: 53%; }
main .mail-column.sentDate {   width: 15%; }
*/
main .mail-column.mailbox { width: 10%; } /* 전체메일함 */

/* *********** 보낸메일함, 임시보관함, 휴지통 (97%) ***********
main .mail-column.checkbox {   width: 3%; }
main .mail-column.star {       width: 3%; }
main .mail-column.attachment { width: 3%; }
main .mail-column.sender {     width: 13%; }
main .mail-column.mailTitle {  width: 53%; }
main .mail-column.sentDate {   width: 15%; }
*/
main .mail-column.empty-space { width: 7%; }


/* *********** 내게쓴메일함 (100%) ***********
main .mail-column.checkbox {   width: 3%; }
main .mail-column.star {       width: 3%; }
main .mail-column.read {       width: 3%; }
main .mail-column.attachment { width: 3%; }
main .mail-column.sender {     width: 13%; }
main .mail-column.mailTitle {  width: 53%; }
main .mail-column.sentDate {   width: 15%; }
main .mail-column.empty-space { width: 7%; }
*/

/* ----------------------------- 두번째 헤더 ----------------------------- */
main .second-header {
  height: 40px;
  border-bottom: 1px solid var(--lightGrey);
  background-color: rgba(243, 243, 243, 0.7);
  /* padding-right: 15px; */
}

/* 리스트 항목 이름을 감싸고 있는 ul*/
main .second-header ul {
  display: flex;
}

/* 리스트 항목 이름 - ex)게시판, 메일 제목, 첨부파일... */
main .second-header ul li {
  line-height: 40px;
  text-align: center;
}

/* 체크박스 */
main .second-header ul li.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------------------- 메일 목록 ----------------------------- */
/* 메일 목록 - section */
main .mail-list {
  height: var(--mail-postList-height);
  max-height: var(--mail-postList-height);
  overflow: auto;
}

/* 메일 목록 - section > ul */
main .mail-list ul {
  position: relative;
}

/* ----------------------------- 하나의 메일 ----------------------------- */
/* 메일 - 한줄*/
main .mail-list ul .mail {
  display: flex;
  height: 50px;
  padding: 5px 0;
  border-bottom: 1px solid var(--lightGrey);
  cursor: pointer;
}

/* 메일 - 한줄 - 후버시 */
main .mail-list ul .mail:hover {
  background-color: var(--mail-hover-color);
}

/* 메일 - 한줄 - 안읽은 메일인 경우 */
main .mail-list ul .mail.unreadMail {
  font-weight: bold;
}

/* 메일 - 메일이 없는경우 */
main .mail-list ul .mail.noMail {
  height: var(--mail-postList-height);
  position: absolute;
  width: 300px;
  height: 30px;
  top: 100px;
  left: 40%;
  border-bottom: none;
  cursor: default;
  font-weight: bold;
  display: block;
}

/* 메일 - 메일이 없는경우 - 후버시 */
main .mail-list ul .mail.noMail:hover {
  background-color: #fff;
}

/* 메일 - 열 div */
main .mail-list ul .mail .mail-column {
  display: flex;
  align-items: center;
  position: relative;
}

/* 메일 - 열 - 글씨 중앙정렬 */
main .mail-list ul .mail .mail-column.jc-center {
  justify-content: center;
}

/* ------------- 중요 (별) ------------- */
/* 별 - 색상 채워진 별 */
main .mail-list ul .mail .mail-column.star span.icon.star.fill {
  color: var(--lightOrange);
}

/* 별 - 색상 채워진 별 - hover시*/
main .mail-list ul .mail .mail-column.star span.icon.star.fill:hover{
  color: var(--darkOrange);
}

/* ------------- 읽음 ------------- */
main .mail-list ul .mail .mail-column.read span.icon {
  font-size: 20px;
}


/* ------------- 첨부파일 ------------- */
main .mail-list ul .mail .mail-column.attachment span.icon {
  font-size: 18px;
}


/* ------------- 작성자 ------------- */

/* 작성자를 감싸고있는 div */
main .mail-list ul .mail .mail-column.sender {
  display: flex;
  justify-content: center;
}

/* 프로필 이미지 */
main .mail-list ul .mail .mail-column.sender img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* 프로필 이미지 후버시*/
main .mail-list ul .mail .mail-column.sender img:hover {
  opacity: 0.7;
}

/* 작성자 이름 */
main .mail-list ul .mail .mail-column.sender .userNameText {
  margin: 0 3px 0 5px;
}

/* 작성자 아이디 */
main .mail-list ul .mail .mail-column.sender .userId {
  color: var(--lightGrey);
  font-size: 12px;
}

/* ------------- 메일 제목 ------------- */

/* 메일 제목*/
main .mail-list ul .mail .mail-column.mailTitle{
  padding: 0 10px;
}

/* 메일 제목 - 후버시*/
main .mail-list ul .mail .mail-column.mailTitle:hover{
  text-decoration: underline;
}

/* ------------- 작성일시 ------------- */
main .mail-list ul .mail .mail-column.sentDate {
  font-size: 14px;
}

/* ----------------------------- 페이징 ----------------------------- */
main .paging-area {
  width: 100%;
  height: var(--mail-paging-height);
  border-top: 1px solid var(--lightGrey);
  background-color: var(--mail-header-n-paging-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 페이지 - 숫자, 화살표 */
main .paging-area span {
  line-height: var(--mail-paging-height);
  cursor: pointer;
}

/* 페이지 - 화살표 (비활성화) */
main .paging-area span.hidden {
  cursor: default;
  color: var(
    --mail-header-n-paging-color
  ); /* 배경과 같은 색으로 해서 안보이게 */
}

/* 페이지 - 화살표 (비활성화) */
main .paging-area span.hidden:hover {
  color: var(
    --mail-header-n-paging-color
  ); /* 배경과 같은 색으로 해서 안보이게 */
}

/* 페이지 - 숫자 */
main .paging-area .page {
  padding: 0 10px;
  color: var(--lightGrey);
}

/* 페이지 - 숫자 - 후버시 */
main .paging-area .page:hover {
  color: var(--darkGrey);
  font-weight: bold;
}

/* 페이지 - 숫자 */
main .paging-area .page.currentPage {
  font-weight: bold;
  color: var(--darkGrey);
  cursor: default;
  text-decoration: underline;
}


/* ================================ 메인 상세조회 ================================ */

/* 메일 상세조회 - header, sidebar를 제외한 전체공간 */
main.mail-detail {
  max-height: calc(100vh - var(--menubar-height));
  overflow-y: auto;
  position: relative;
}

/* ----------------------------- 메일 상세조회 - 뒤로가기 버튼 ----------------------------- */
main.mail-detail .btnToGoBack{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 5px;
}

main.mail-detail .btnToGoBack:hover{
  font-weight: bold;
}


main.mail-detail .btnToGoBack .icon{
  font-size: 30px;
}

main.mail-detail .btnToGoBack .text{
  font-size: 14px;
  padding-top: 2px;
}

/* ----------------------------- 메일 버튼 - 답장/전달/이동/삭제----------------------------- */
/* 버튼 감싸고 있는 div */
main.mail-detail .email-btns {
  position: absolute;
  top: 20px;
  left: 76%;
}

/* 실제 버튼 */
main.mail-detail .email-btns .btn{
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  background-color: #fff;
  padding: 8px;
  cursor: pointer;
  width: 50px;
  margin-right: 5px;
}

/* 실제 버튼 - hover시*/
main.mail-detail .email-btns .btn:hover{
  background-color: var(--mail-active-color);
  font-weight: bold;
}


/* ----------------------------- 메일 상세조회 - 중앙 페이지 ----------------------------- */
/* 메일 상세조회 - section */
main.mail-detail section {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin: 20px auto;
}


/* ------------- 메일제목 ------------- */

/* 메일 제목 div */
main.mail-detail .mail-detail-header .title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* 별 - 회색 빈 별 */
main.mail-detail .mail-detail-header .title .starDiv .icon.star {
  font-size: 30px;
  vertical-align: middle;
}

/* 별 - 색상 채워진 별 */
main.mail-detail .mail-detail-header .title .starDiv .icon.star.fill {
  color: var(--lightOrange);
}

/* 별 - 색상 채워진 별 - hover시 */
main.mail-detail .mail-detail-header .title .starDiv .icon.star.fill:hover {
  color: var(--darkOrange);
}

/* 메일 제목 */
main.mail-detail .mail-detail-header .title .mailTitle{
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 10px;
}

/* ----------------------------- 헤더 ----------------------------- */
main.mail-detail .mail-detail-header {
  border-bottom: 1px solid var(--lightGrey);
  position: relative;
}

/* 테이블 */
main.mail-detail .mail-detail-header .outer-table{
  width: 100%;
}

/* 테이블 줄 */
main.mail-detail .mail-detail-header .outer-table tr{
  height: 50px;
}

/* 테이블 각각의 셀 */
main.mail-detail .mail-detail-header .outer-table tr td{
  font-family: "MinSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  vertical-align: middle;
  /* color: red; */
}

/* 테이블 좌측 컬럼 */
main.mail-detail .mail-detail-header .outer-table tr td.td-left{
  width: 80px;
  text-align: center;
}


/* ------------- 발신인 ------------- */
main.mail-detail .mail-detail-header .outer-table tr.sender .td-right{
  display: flex;
  align-items: center;
  position: relative;
}

/* 발신인 이미지 */
main.mail-detail .mail-detail-header .outer-table tr.sender .td-right .profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

main.mail-detail .mail-detail-header .outer-table tr.sender .td-right .sender-info > *{
  vertical-align: bottom;
}

/* 발신인 이름*/
main.mail-detail .mail-detail-header .outer-table tr.sender .td-right .sender-info .userName{
  font-weight: bold;
}

/* 발신인 아이디*/
main.mail-detail .mail-detail-header .outer-table tr.sender .td-right .sender-info .userId{
  margin-left: 2px;
  color: var(--lightGrey);
  font-size: 12px;
}

/* ------------- 보낸시간 ------------- */
/* 보낸시간 div */
main.mail-detail .mail-detail-header .outer-table tr.sender .td-right .sentTime-info{
  font-size: 13px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10%;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 보낸시간 */
main.mail-detail .mail-detail-header .outer-table tr.sender .td-right .sentTime-info .sentDate{
  color: var(--lightGrey);
  margin-left: 10px;
}

/* ------------- 수신인 ------------- */

/* ------------- 수신인 리스트 헤더 & 내용 공통 ------------- */
main.mail-detail .mail-detail-header .outer-table tr.receiver ul {
  border: 1px solid var(--lightGrey);
  width: 100%;
}

main.mail-detail .mail-detail-header .outer-table tr.receiver ul li{
  display: flex;
  height: 30px;
}

main.mail-detail .mail-detail-header .outer-table tr.receiver ul li div{
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "MinSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  /* color: blue; */
}

/* 헤더 & 내용 - 가로 비율 지정 */
main.mail-detail .mail-detail-header .outer-table tr.receiver ul li .rCheckbox{width: 10%;}
main.mail-detail .mail-detail-header .outer-table tr.receiver ul li .rUserName{width: 30%;}
main.mail-detail .mail-detail-header .outer-table tr.receiver ul li .rType{width: 20%;}
main.mail-detail .mail-detail-header .outer-table tr.receiver ul li .rTime{width: 40%;}

main.mail-detail .mail-detail-header .outer-table tr.receiver .td-right {
  position: relative;
}

/* ------------- 수신인 리스트 헤더 ------------- */
main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-header {
  margin-top: 10px;
  border-bottom: none;
  background-color: var(--mail-header-n-paging-color);
  width: 90%;
  border-radius: 3px 3px 0 0;
}

main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-header li > div {
  display: flex;
  justify-content: center;
}

/* ------------- 수신인 리스트 내용 ------------- */
main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents{
  max-height: 120px;
  overflow-y: auto;
  margin-bottom: 5px;
  width: 90%;
  border-radius: 0 0 3px 3px;
}

main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents li{
  border-bottom: 1px solid var(--lightGrey);
  cursor: pointer;
}

main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents li:hover{
  background-color: var(--mail-hover-color);
}

main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents li:last-child{
  border-bottom: none;
}

/* 수신인이 없는경우 */
main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents li.noReceivers{
  text-align: center;
  /* color: red; */
  line-height: 30px;
  padding-left: 20px;
}

main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents li > div{
  display: flex;
  justify-content: center;
}

/* 사용자 id */
main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents li > div.rUserName .userId{
  font-size: 13px;
  color: var(--lightGrey);
  margin-left: 10px;
}

/* 읽은 시간 */
main.mail-detail .mail-detail-header .outer-table tr.receiver ul.list-contents li > div.rTime{
  font-size: 13px;
}

/* ------------- 수신인 요약 ------------- */
/* 수신인 요약 - 총 몇명인지 */
main.mail-detail .mail-detail-header .outer-table tr.receiver .listSummary{
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

/* 수신인 요약 - 아무도 없을때 */
main.mail-detail .mail-detail-header .outer-table tr.receiver .listSummary.noReceivers{
  color: white;
}

/* 수신인 요약 - 분류별로 */
main.mail-detail .mail-detail-header .outer-table tr.receiver .listSummary span{
  font-size: 13px;
  font-weight: normal;
}

/* ------------- 발신 취소 버튼 ------------- */
main.mail-detail .mail-detail-header .outer-table tr.receiver .btn{
  position: absolute;
  right: 10%;
  bottom: -10px;
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}

main.mail-detail .mail-detail-header .outer-table tr.receiver .btn:hover{
  background-color: var(--mail-active-color);
  font-weight: bold;
}

/* ------------- 첨부파일 ------------- */
main.mail-detail .mail-detail-header .outer-table tr.attachment .td-right{
  height: 50px;
  display: flex;
  line-height: 50px;
}

main.mail-detail .mail-detail-header .outer-table tr.attachment .td-right a{
  display: flex;
  align-items: center;
  margin-right: 15px;
}

main.mail-detail .mail-detail-header .outer-table tr.attachment .td-right a:hover{
  font-weight: bold;
}




/* ----------------------------- 메일 상세 내용 ----------------------------- */
main.mail-detail .mail-detail-content {
  padding: 20px 20px 100px;
  white-space: pre-wrap;
}

/* ------------- 위로 올라가기 버튼 ------------- */

/* 버튼을 감싸고 있는 div */
main.mail-detail #btnToGoUp {
  position: fixed;
  left: 80%;
  bottom: 20px;
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  display: none;
}

/* 버튼을 감싸고 있는 div - hover시*/
main.mail-detail #btnToGoUp:hover{
  background-color: var(--mail-active-color);
  font-weight: bold;
}

/* 아이콘 */
main.mail-detail #btnToGoUp .icon{
  font-size: 20px;
  padding: 5px;
}


/* ================================ 메일쓰기 ================================ */
/* 메일쓰기 - header, sidebar를 제외한 전체공간 */
main.mail-write {
  max-height: calc(100vh - var(--menubar-height));
  overflow-y: auto;
  position: relative;
}

main.mail-write form {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin: 20px auto;
  /* border: 1px solid blue; */
}

/* ------------- 메일쓰기 글자 ------------- */
main.mail-write form .mail-write-header .title{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

main.mail-write form .mail-write-header .title h2{
  font-size: 1.3rem;
  font-weight: bold;
}

/* 보내기/임시저장/취소 버튼 */
/* 버튼 감싸고 있는 div */
main.mail-write form .mail-write-header .title .email-btns {
  width: max-content;
}

/* 실제 버튼 */
main.mail-write form .mail-write-header .title .email-btns .btn {
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  background-color: #fff;
  padding: 8px;
  cursor: pointer;
  /* width: 50px; */
  margin-left: 5px;
}

/* 실제 버튼 - hover시*/
main.mail-write form .mail-write-header .title .email-btns .btn:hover {
  background-color: var(--mail-active-color);
  font-weight: bold;
}

/* ------------- 메일쓰기 - 테이블 ------------- */
/* 테이블 */
main.mail-write form .mail-write-header table{
  width: 90%;
}

/* 테이블 줄 */
main.mail-write form .mail-write-header table tr{
  height: 50px;
}

/* 테이블 각각의 셀 */
main.mail-write form .mail-write-header table tr td{
  font-family: "MinSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  vertical-align: middle;
  /* color: red; */
  /* border: 1px solid red; */
}

main.mail-write form .mail-write-header table tr td.td-left{
  width: 80px;
  text-align: center;
}

/* ------------- 메일쓰기 - 메일제목 ------------- */
/* 메일제목 입력창 */
main.mail-write form .mail-write-header table tr.mailtitle .td-right input{
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--lightGrey);
  outline: none;
  font-size: 16px;
}


/* ------------- 메일쓰기 - 수신인 ------------- */
/* 셀 가로정렬 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul li{
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
}

/* 셀 가로비율 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul li .rCheckbox{width: 10%; text-align: center;}
main.mail-write form .mail-write-header table tr.receiver .td-right ul li .rUserName{width: 50%;}
main.mail-write form .mail-write-header table tr.receiver .td-right ul li .rType{width: 40%;}
main.mail-write form .mail-write-header table tr.receiver .td-right ul li .rDelete{width: 10%;}


main.mail-write form .mail-write-header table tr.receiver .td-right ul li>div{
  /* border: 1px solid purple; */
}

/* ------------- 수신인 ------------- */
/* 받는사람 (글자) */
main.mail-write form .mail-write-header table tr.receiver .td-left{
  vertical-align: top;
  padding-top: 5px;
}

/* ------------- 수신인 검색 ------------- */
/* 검색 div */
main.mail-write form .mail-write-header table tr.receiver .td-right .search{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

/* 검색창 */
main.mail-write form .mail-write-header table tr.receiver .td-right .search .search-input{
  height: 30px;
  background-color: #d1d1d14d;
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  width: 230px;
  padding-left: 10px;
}

/* 검색창 - focus시 테두리 강조 안되게*/
main.mail-write form .mail-write-header table tr.receiver .td-right .search .search-input:focus{
  outline: none;
}

/* 돋보기 아이콘 */
main.mail-write form .mail-write-header table tr.receiver .td-right .search .icon{
  height: 24px;
  position: absolute;
  left: 205px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* ------------- 수신인 구분 ------------- */
main.mail-write form .mail-write-header table tr.receiver .td-right .receiverType{
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

main.mail-write form .mail-write-header table tr.receiver .td-right .receiverType input{
  cursor: pointer;
}

main.mail-write form .mail-write-header table tr.receiver .td-right .receiverType label{
  cursor: pointer;
  margin-right: 5px;
}


/* ------------- 수신인 리스트 헤더 ------------- */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-header{
  border: 1px solid var(--lightGrey);
  border-bottom: none;
  background-color: var(--mail-header-n-paging-color);
  border-radius: 3px 3px 0 0;
}

/* 각각의 컬럼 div */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-header li>div{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 수신인 리스트 헤더 - x 아이콘 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-header li>div.rDelete .icon{
  font-size: 16px;
}

/* ------------- 수신인 리스트 내용 ------------- */
/* 수신인 리스트 - 전체를 감싸고 있는 div */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-contents{
  border: 1px solid var(--lightGrey);
  border-top: none;
  min-height: 30px;
  max-height: 120px;
  overflow-y: auto;
  border-radius: 0 0 3px 3px;
}

/* 수신인 리스트 - 각각의 줄 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-contents li{
  cursor: pointer;
}

/* 수신인 리스트 - 후버시 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-contents li:hover{
  background-color: var(--mail-hover-color);
}

/* 수신인 리스트 - 마지막줄 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-contents li:last-child{
  border-bottom: none;
}

/* 수신인 리스트 - 각각의 열 div */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-contents li>div{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 수신인 아이디 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-contents li .rUserName .userId{
  font-size: 13px;
  color: var(--lightGrey);
  margin-left: 10px;
}

/* 수신인 리스트 -  x 아이콘 */
main.mail-write form .mail-write-header table tr.receiver .td-right ul.list-contents li .rDelete .icon{
  font-size: 16px;
}

/* ------------- 수신인 요약 ------------- */
main.mail-write form .mail-write-header table tr.receiver .td-right .listSummary{
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
}

/* 수신인 요약 - 분류별로 */
main.mail-write form .mail-write-header table tr.receiver .td-right .listSummary span{
  font-size: 13px;
}

