/* 
    menubar용 css입니다.
    menubar가 있는 페이지에만 적용되므로, 모든 페이지의 css가 필요하시면 common.css을 참고하여주세요.
*/

/* ==================== 헤더 전체 ==================== */
header {
    width: 100%;
    height: 100px;
    box-shadow: 0px 3px 5px var(--lightGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ==================== 왼쪽 로고 ==================== */
header .logo {
    position: absolute;
    left: 30px;
}

/* ==================== 가운데 메인메뉴 ==================== */
header .main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid red; */
}

/* 각각의 메뉴 */
header .main-menu a {
    margin-right: 10px;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

header .main-menu a:last-child{
    margin-right: 0;
}

/* 각 메뉴 아이콘 */
header .main-menu a .menu-icon{
    color: var(--lightGrey);
    opacity: .7;
    font-size: 50px;
    padding: 5px;
}

header .main-menu a .menu-icon:hover{
    opacity: .5;
}

/* 각 메뉴 아이콘 이미지: 지금은 사실 안쓰임 */
header .main-menu a img{
    height: 55px;
}

/* ==================== 오른쪽 프로필쪽 메뉴 ==================== */
header .right-menu{
    position: absolute;
    right: 20px;
    color: var(--lightGrey);
    opacity: .7;
    display: flex;
}

/* ------- 알림 ------- */
header .right-menu .material-icons-outlined{
    font-size: 42px;
    padding: 5px 0;
    margin-right: 10px;
    cursor: pointer;
}

header .right-menu .material-icons-outlined:hover{
    opacity: .5;
}

/* ------- 프로필  -------*/
header .right-menu .profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .right-menu .profile:hover{
    opacity: .5;
}

/* 프로필 아이콘 */
header .right-menu .profile .material-icons{
    font-size: 55px;
}

/* 프로필 이름 & 접는 아이콘 */
header .right-menu .profile .profile-name,
header .right-menu .profile .material-symbols-rounded{
    line-height: 55px;
}

/* 프로필 이름 */
header .right-menu .profile .profile-name{
    font-size: 18px;
    color: var(--darkGrey);
    opacity: 1;
    margin-left: 8px;
}

/* 접는 아이콘 */
header .right-menu .profile .material-symbols-rounded{
    font-size: 45px;
    opacity: .6;
}

/* ==================== 숨겨진 오른쪽 메뉴 ==================== */
header .hidden-right-menu{
    position: absolute;
    display: flex;
    right: 28px;
    top: 80px;
}

header .hidden-right-menu>*{
    border: 1px solid var(--lightGrey);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

header .hidden-right-menu .hidden{
    visibility: hidden;
}

/* ------- 숨겨진 알림  -------*/
header .hidden-right-menu .hidden-notification{
    margin-right: 20px;
}

/* 알림 - 각각의 줄 */
header .hidden-right-menu .hidden-notification ul li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}

header .hidden-right-menu .hidden-notification ul li:hover {
    opacity: .5;
}

/* 알림 - 마지막 줄 */
header .hidden-right-menu .hidden-notification ul li:last-child{
    margin-bottom: 0;
}

/* 알림 - 유저 아이디 */
header .hidden-right-menu .hidden-notification ul li .userId{
    font-size: 12px;
    color: var(--lightGrey);
}

/* 알림 - 시간 */
header .hidden-right-menu .hidden-notification ul li .time-and-cross{
    font-size: 12px;
    color: var(--lightGrey);
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

/* 알림 - 삭제버튼 */
header .hidden-right-menu .hidden-notification ul li .time-and-cross .material-icons{
    font-size: 20px;
    margin-left: 5px;
}

header .hidden-right-menu .hidden-notification ul li .time-and-cross .material-icons:hover{
    color: red;
}

/* ------- 숨겨진 프로필메뉴  -------*/
header .hidden-right-menu .hidden-profile{
    color: var(--darkGrey);
    width: 120px;
    height: fit-content;
}

/* 마이페이지 & 로그아웃 - 각각의 줄 */
header .hidden-right-menu .hidden-profile ul li{
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

header .hidden-right-menu .hidden-profile ul li:last-child{
    margin-bottom: 0;
}

header .hidden-right-menu .hidden-profile ul li:hover{
    opacity: .5;
}

/* 마이페이지 & 로그아웃 - 아이콘 */
header .hidden-right-menu .hidden-profile ul li .material-icons{
    color: var(--lightGrey);
    margin-right: 5px;
}
