body{
    display: flex;
}

#myInfo-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header{
    width: 100%;
    height: 50px;
    background : linear-gradient(to right, #46D3FF, #D0BFFF);
    display: flex;
    align-items: center;
}

.body table{
    width: 100%;
}

.body tr{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}
