.wrapper{
    width: 100%;
}

.wrapper .body__wrapper{
    width: 1024px;
    display: block;
    margin: 0px 439.5px;
}

.myPage__header {
    text-align: left;
    height: auto;
    padding-top: 40px;
    margin-bottom: 15px;
    display: block;
}

.myPage__header .content__title{
    color: #000;
    font-size: 22px;
}

.body__wrapper .side-area{
    width: 240px;
    height: 100%;
    float: left;
}

#img-area {
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#img-area img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

#menu-area ul{
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}

#menu-area li{
    height: 45px;
    border-bottom: 1px solid #333;
}

#menu-area .myPage-menu{
    vertical-align: top;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.selected{
    background-color: #C2F0FF;
    border-bottom: 1px solid #333;
}