#side-area {
    float: left;
    width: 485px;
    height: 919px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1;
}

#side-area .logo {
    position: absolute;
    top: 25px;
    left: 30px;
}

.myPage-title {
    text-align: center;
}

header p{
    color: #000;
    font-size: 32px;
}

#img-area{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name{
    font-size: 18px;
    margin-top: 10px;
}

#menu-area{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;	
}


a:hover{
    background-color: #A98AFF;
    cursor: pointer;
}

.myPage-menu{
    width: 200px;
    height: 50px;
    background-color: #C2F0FF;  
    border: 2px solid #45d3ff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.16);
    display: flex;
    margin-bottom: 50px;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.myPage-menu:last-child{
    margin-bottom: 0;
}


.selected {
    width: 200px;
    height: 50px;
    background-color: #DFCCFB;
    border: 2px solid #A98AFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.16);
    display: flex;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

#menu-area p{
    font-size: 24px;
    color: #000;
}