.myInfo__body{
    width: 700px;
    height: 600px;
    background-color: #e6f9ff;
    float: right;
    margin-right: 50px;
}

.myInfo__body .myInfo__header{
    width: 100px;
    height: 40px;
    background-color: #C2F0FF;
    border-top: 3px solid #46D3FF;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myInfo__body .myInfo__transBtn_area{
    width: 100%;
    height: 50px;
}

.myInfo__body .myInfo__transBtn{
    width: 80px;
    height: 30px;
    border: 1px solid #333;
    background-color: #f2f2f2;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.myInfo__body .myInfo__content{
    margin-top: 30px;
    padding: 10px;
}

.myInfo__body .myInfo__content table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #999;
}

.myInfo__body .myInfo__content table tr{
    border-bottom: 1px solid #999;
}

.myInfo__body .myInfo__content table td:first-child{
    width: 20%;
    height: 40px;
    background-color: #C2F0FF;
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #999;
    padding: 10px 20px;
}

.myInfo__body .myInfo__content table td:last-child{
    width: 80%;
    padding: 10px 20px;
}

