

.wrapper{
    width: 100%;
}

.wrapper .body__wrapper{
    width: 1024px;
    display: block;
    margin: 0px 439.5px;
}

.myPage__header {
    text-align: left;
    height: auto;
    padding-top: 40px;
    margin-bottom: 15px;
    display: block;
}

.myPage__header .content__title{
    color: #000;
    font-size: 22px;
}

.body__wrapper .side-area{
    width: 240px;
    height: 100%;
    background-color: #62a4e6;
}

#img-area {
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#img-area img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

#menu-area li{
    height: 45px;
    background-color: #f2f2f2;
    border : 1px solid #333;
}

#menu-area li a{
    padding: 10px 20px;
}

