.myScore-body{
    width: 700px;
    height: 600px;
    background-color: #e6f9ff;
    border-radius: 20px;
    float: right;
    margin-right: 50px;
}

.myScore-header{
    width: 100px;
    height: 40px;
    background-color: #C2F0FF;
    border-top: 3px solid #46D3FF;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}