#myATD-body{
    width: 700px;
    height: 600px;
    background-color: #e6f9ff;
    border-radius: 20px;
    float: right;
    margin-right: 50px;
}

.myATD-title{
    width: 100px;
    height: 40px;
    background-color: #C2F0FF;
    border-top: 3px solid #46D3FF;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myATD-content {
    padding: 10px;
}

.attendance-container {
    width: 90%;
    margin: auto;
    overflow-x: scroll;
}
.month-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.navicon{
    margin: 0px 20px;
}

.navicon:hover{
    cursor: pointer;
    color: #46D3FF;
}

table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

table thead{
    display: block;
}

th, td {
    min-width: 50px;
    height: 50px;
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
th {
    background-color: #C2F0FF;
}

