#myATD-body{
    width: 700px;
    height: 600px;
    background-color: #e6f9ff;
    border-radius: 20px;
    float: right;
    margin-right: 50px;
}

.myATD-title{
    width: 100px;
    height: 40px;
    background-color: #C2F0FF;
    border-top: 3px solid #46D3FF;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myATD-content {
    padding: 10px;
}

.myATD-content table {
    width: 100%;
    border-collapse: collapse;
}
.myATD-content table, th, td {
    border: 1px solid black;
}
.myATD-content th, td {
    padding: 8px;
    text-align: left;
}
#monthNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
